/* Give your page a fun background color */

/* Make the header and footer a different color from the background */

/* Align the h1 containing your name in the center of the header*/

/* Make your p tag a different color and italic */

/* Put a border around your image */

/* Change the font-family of your list */
body {
  background-color: #257f89;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  text-align: center;
}
h1 {
  color: #254d89;
  text-align: center;
}
ul {
  color: #d0e4e6;
}
p {
  color: #d0d9e6;
  font-style: italic;
  text-align: center;
}
